<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
  <!-- To save as <CATALINA_HOME>\webapps\helloservlet\WEB-INF\web.xml -->
 
   <servlet>
      <servlet-name>HelloWorldServlet</servlet-name>
      <servlet-class>mypkg.HelloServlet</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>HelloWorldServlet</servlet-name>
      <url-pattern>/sayhello</url-pattern>
   </servlet-mapping>
   <!-- Filter Example 1 -->
  <filter> 
    <filter-name>helloWorld</filter-name>
    <filter-class>mypkg.HelloWorldFilter</filter-class> 
  </filter> 
  <filter-mapping> 
    <filter-name>helloWorld</filter-name>
    <url-pattern>/filter.jsp</url-pattern> 
  </filter-mapping> 
  <!-- end Filter Example 1 -->
  <!-- Filter Example 2 -->
  <filter> 
    <filter-name>message</filter-name>
    <filter-class>mypkg.MessageFilter</filter-class>
    <init-param> 
      <param-name>message</param-name>
      <param-value>A message for you!</param-value> 
    </init-param> 
  </filter> 
  <filter-mapping> 
    <filter-name>message</filter-name>
    <url-pattern>/filter2.jsp</url-pattern> 
  </filter-mapping> 
  <!-- end Filter Example 2 -->
</web-app>